sources/pug/pages/index.pug
extends  ../_skeleton

//- Includes
include ../components/_ui-box-icon
include ../components/_ui-counters
include ../components/_ui-box-team
include ../components/_ui-quote
include ../components/_ui-posts

block variables
	- var activeCategory = 'home'
	- var pageName = 'Home'

block page
	// Page Header
	+header-classic({})
	='\n'
	
	// Swiper
	section.section.swiper-container.swiper-slider.swiper-slider-classic(data-loop='true' data-autoplay='4859' data-simulate-touch="true" data-direction='vertical' data-nav='false')
		.swiper-wrapper.text-center
			.swiper-slide(data-slide-bg='images/slider-1-slide-2-1770x742.jpg')
				.swiper-slide-caption.section-md
					.container
						h1(data-caption-animate='fadeInLeft' data-caption-delay='0') Mobile App Development
						p.text-width-large(data-caption-animate='fadeInRight' data-caption-delay='100') Since our establishment, we have been delivering high-quality and sustainable software solutions for corporate purposes of worldwide businesses.
						a.button.button-primary.button-ujarak(href='#modalCta' data-toggle="modal" data-caption-animate='fadeInUp' data-caption-delay='200') Get in touch
			.swiper-slide(data-slide-bg='images/slider-1-slide-4-1770x742.jpg')
				.swiper-slide-caption.section-md
					.container
						h1(data-caption-animate='fadeInLeft' data-caption-delay='0') Experienced Team
						p.text-width-large(data-caption-animate='fadeInRight' data-caption-delay='100') We are a team of qualified software developers, aimed at creating unique and powerful tools for your business & everyday life.
						a.button.button-primary.button-ujarak(href='#modalCta' data-toggle="modal" data-caption-animate='fadeInUp' data-caption-delay='200') Get in touch
			.swiper-slide(data-slide-bg='images/slider-1-slide-6-1770x742.jpg')
				.swiper-slide-caption.section-md
					.container
						h1(data-caption-animate='fadeInLeft' data-caption-delay='0') Award-Winning Software
						p.text-width-large(data-caption-animate='fadeInRight' data-caption-delay='100') The software solutions developed by our company have been numerously awarded for usability and innovative features.
						a.button.button-primary.button-ujarak(href='#modalCta' data-toggle="modal" data-caption-animate='fadeInUp' data-caption-delay='200') Get in touch
		
		// Swiper Pagination
		.swiper-pagination__module
			.swiper-pagination__fraction
				span.swiper-pagination__fraction-index 00
				span.swiper-pagination__fraction-divider /
				span.swiper-pagination__fraction-count 00
			.swiper-pagination__divider
			.swiper-pagination
	='\n'
	
	// See all services
	section.section.section-sm.section-first.bg-default.text-center#services
		.container
			.row.row-30.justify-content-center
				.col-md-7.col-lg-5.col-xl-6.text-lg-left.wow.fadeInUp
					+png('index-1-415x592')
				.col-lg-7.col-xl-6
					.row.row-30
						.col-sm-6.wow.fadeInRight
							article.box-icon-modern.box-icon-modern-custom: div
								h3.box-icon-modern-big-title What We Offer
								.box-icon-modern-decor
								a.button.button-primary.button-ujarak(href='#') View All Services
						.col-sm-6.wow.fadeInRight(data-wow-delay='.1s')
							+box-icon-modern({
								mod: 'box-icon-modern-2',
								icon: 'linearicons-phone-in-out',
								title: 'CORPORATE<br>SOLUTIONS',
								text: 'Need specific software for your company? We are ready to develop it!'
							})
						.col-sm-6.wow.fadeInRight(data-wow-delay='.2s')
							+box-icon-modern({
								mod: 'box-icon-modern-2',
								icon: 'linearicons-headset',
								title: 'CALL CENTER<br>SOLUTIONS',
								text: 'Our experts provide custom products of any complexity for call centers.'
							})
						.col-sm-6.wow.fadeInRight(data-wow-delay='.3s')
							+box-icon-modern({
								mod: 'box-icon-modern-2',
								icon: 'linearicons-outbox',
								title: 'CLOUD<br>DEVELOPMENT',
								text: 'We can also offer you reliable cloud development solutions.'
							})
	='\n'
	
	// Cta
	section.section.section-fluid.bg-default
		+parallax({
			img: 'parallax-1',
			innerClass: 'section-xl context-dark'
		})
			.container
				.row.row-30.justify-content-end.text-right
					.col-sm-7
						h3.wow.fadeInLeft Let's Develop Your Next Great App!
						p Do you need a unique software solution for your company? We know how to help you!
						.group-sm.group-middle.group.justify-content-end
							a.button.button-primary.button-ujarak(href='#modalCta' data-toggle="modal") Get in Touch
							a.button.button-white-outline.button-ujarak(href='#') Learn More
	='\n'
	
	// Latest Projects
	section.section.section-sm.section-fluid.bg-default.text-center#projects
		.container-fluid
			h2.wow.fadeInLeft Latest Projects
			p.quote-jean.wow.fadeInRight(data-wow-delay='.1s') In our portfolio, you can browse the latest products developed for our clients for different corporate purposes. Our qualified team of interface designers and software developers is always ready to create something unique for you.
			include ../sections/_section-full-width-gallery
	='\n'
	
	// Years of experience
	section.section.section-sm.bg-default
		.container
			.row.row-30.row-xl-24.justify-content-center.align-items-center.align-items-lg-start.text-left
				include ../sections/_section-counter-amy
				.col-lg-6.col-xl-12.align-self-center
					.row.row-30.justify-content-center
						.col-sm-6.col-md-5.col-lg-6.col-xl-3.wow.fadeInLeft: a.clients-classic(href='#'): +png('clients-9-270x117')
						.col-sm-6.col-md-5.col-lg-6.col-xl-3.wow.fadeInLeft(data-wow-delay='.1s'): a.clients-classic(href='#'): +png('clients-10-270x117')
						.col-sm-6.col-md-5.col-lg-6.col-xl-3.wow.fadeInLeft(data-wow-delay='.2s'): a.clients-classic(href='#'): +png('clients-3-270x117')
						.col-sm-6.col-md-5.col-lg-6.col-xl-3.wow.fadeInLeft(data-wow-delay='.3s'): a.clients-classic(href='#'): +png('clients-11-270x117')
	='\n'
	
	// Meet The Team
	section.section.section-sm.section-fluid.bg-default#team
		.container-fluid
			h2 Meet The Team
			.row.row-sm.row-30.justify-content-center
				.col-md-6.col-lg-5.col-xl-3.wow.fadeInRight
					+team-classic({
						mod: 'team-classic-lg',
						img: 'team-11-420x424',
						name: 'Ryan Wilson',
						status: 'Director of Production'
					})
				.col-md-6.col-lg-5.col-xl-3.wow.fadeInRight(data-wow-delay='.1s')
					+team-classic({
						mod: 'team-classic-lg',
						img: 'team-12-420x424',
						name: 'Jill Peterson',
						status: 'UI Designer'
					})
				.col-md-6.col-lg-5.col-xl-3.wow.fadeInRight(data-wow-delay='.2s')
					+team-classic({
						mod: 'team-classic-lg',
						img: 'team-13-420x424',
						name: 'Sam Robinson',
						status: 'Senior Developer'
					})
				.col-md-6.col-lg-5.col-xl-3.wow.fadeInRight(data-wow-delay='.3s')
					+team-classic({
						mod: 'team-classic-lg',
						img: 'team-14-420x424',
						name: 'Mary Lee',
						status: 'Software Developer'
					})
	='\n'
	
	// You dream — we embody
	section.section.section-sm.bg-default.text-md-left
		.container
			.row.row-50.align-items-center.justify-content-center.justify-content-xl-between
				.col-lg-6.col-xl-5.wow.fadeInLeft
					h2 Get More With Us
					// Bootstrap tabs
					#tabs-6.tabs-custom.tabs-horizontal.tabs-line.tabs-line-big.text-center.text-md-left
						// Nav tabs
						ul.nav.nav-tabs
							li.nav-item(role='presentation'): a.nav-link.nav-link-big.active(href='#tabs-6-1' data-toggle='tab') 01
							li.nav-item(role='presentation'): a.nav-link.nav-link-big(href='#tabs-6-2' data-toggle='tab') 02
							li.nav-item(role='presentation'): a.nav-link.nav-link-big(href='#tabs-6-3' data-toggle='tab') 03
							li.nav-item(role='presentation'): a.nav-link.nav-link-big(href='#tabs-6-4' data-toggle='tab') 04
						
						// Tab panes
						.tab-content
							div#tabs-6-1.tab-pane.fade.show.active
								h5.font-weight-normal FREE APPS
								p We regularly upload new free apps to our website, which is fully accessible to our clients and subscribers. You can also find out about free apps in our blog.
								.group-sm.group-middle
									a.button.button-secondary.button-pipaluk(href='#modalCta' data-toggle="modal") Get in touch
									a.button.button-default-outline.button-wapasha(href='#') Learn More
							
							div#tabs-6-2.tab-pane.fade
								h5.font-weight-normal GET SOCIAL
								p Every app we develop has built-in social support that allows you to stay connected to your accounts on Facebook, Instagram, Twitter and other networks.
								.group-sm.group-middle
									a.button.button-secondary.button-pipaluk(href='#modalCta' data-toggle="modal") Get in touch
									a.button.button-default-outline.button-wapasha(href='#') Learn More
							
							div#tabs-6-3.tab-pane.fade
								h5.font-weight-normal CUSTOMER SERVICE
								p Every customer of RatherApp can get access to our friendly and qualified 24/7 support via chat or phone. Fell free to ask us any question!
								.group-sm.group-middle
									a.button.button-secondary.button-pipaluk(href='#modalCta' data-toggle="modal") Get in touch
									a.button.button-default-outline.button-wapasha(href='#') Learn More
							
							div#tabs-6-4.tab-pane.fade
								h5.font-weight-normal GREAT USABILITY
								p All our apps are designed to have great usability in order to easily operate our applications. That is why our software has high ratings and lots of awards.
								.group-sm.group-middle
									a.button.button-secondary.button-pipaluk(href='#modalCta' data-toggle="modal") Get in touch
									a.button.button-default-outline.button-wapasha(href='#') Learn More
				
				.col-lg-6.text-center.wow.fadeInUp(data-wow-delay='.1s')
					.owl-carousel.owl-style-1(data-items='2', data-stage-padding='0', data-loop='true', data-margin='0', data-mouse-drag="true", data-autoplay='true')
						a.box-device(href='#'): +png('index-4-313x580')
						a.box-device(href='#'): +png('index-5-313x580')
						a.box-device(href='#'): +png('index-4-313x580')
						a.box-device(href='#'): +png('index-5-313x580')
	='\n'
	
	// What people Say
	section.section.section-sm.section-bottom-70.section-fluid.bg-default
		.container-fluid
			h2 What people Say
			.row.row-50.row-sm
				.col-md-6.col-xl-4.wow.fadeInRight
					+quote-modern({
						mod: 'quote-modern-custom',
						img: 'user-11-75x75',
						author: 'Catherine Williams',
						status: 'Regular client',
						text: 'RatherApp offers a high caliber of resources skilled in Microsoft Azure .NET, mobile and Quality Assurance. They became our true business partners over the past three years.'
					})
				.col-md-6.col-xl-4.wow.fadeInRight(data-wow-delay='.1s')
					+quote-modern({
						mod: 'quote-modern-custom',
						img: 'user-12-75x75',
						author: 'Rupert Wood',
						status: 'Regular client',
						text: 'RatherApp powered us with a competent team to develop products for banking services. The team has been delivering results within budget and time, which is amazing.'
					})
				.col-md-6.col-xl-4.wow.fadeInRight(data-wow-delay='.2s')
					+quote-modern({
						mod: 'quote-modern-custom',
						img: 'user-20-75x75',
						author: 'Samantha Brown',
						status: 'Regular client',
						text: 'RatherApp is a highly skilled and uniquely capable firm with multitudes of talent on-board. We have collaborated on a number of diverse projects that have been a great success.'
					})
	='\n'
	
	// Pricing
	section.section.section-sm.section-bottom-70.section-fluid.bg-default
		.container
			h2 Pricing
			.row.row-30.justify-content-center
				.col-md-6.col-lg-5.col-xl-4
					.box-pricing.box-pricing-black
						.box-pricing-body
							h5.box-pricing-title basic
							h3.box-pricing-price $500.00
							.box-pricing-time starting at
							.box-pricing-divider
								.divider
								span Basic
							ul.box-pricing-list
								li.active Concept development
								li.active UI design
								li Configuration management
								li Software quality assurance
								li App integration
						.box-pricing-button: a.button.button-lg.button-block.button-gray-4(href='#') Get started
				.col-md-6.col-lg-5.col-xl-4
					.box-pricing.box-pricing-black.box-pricing-popular
						.box-pricing-body
							h5.box-pricing-title Optimal
							h3.box-pricing-price $800.00
							.box-pricing-time starting at
							.box-pricing-divider
								.divider
								span Optimal
							ul.box-pricing-list
								li.active Concept development
								li.active UI design
								li.active Configuration management
								li.active Software quality assurance
								li App integration
						.box-pricing-button: a.button.button-lg.button-block.button-primary(href='#') Get started
						.box-pricing-badge popular
				.col-md-6.col-lg-5.col-xl-4
					.box-pricing.box-pricing-black
						.box-pricing-body
							h5.box-pricing-title Ultimate
							h3.box-pricing-price $1200.00
							.box-pricing-time starting at
							.box-pricing-divider
								.divider
								span Ultimate
							ul.box-pricing-list
								li.active Concept development
								li.active UI design
								li.active Configuration management
								li.active Software quality assurance
								li.active App integration
						.box-pricing-button: a.button.button-lg.button-block.button-gray-4(href='#') Get started
	='\n'
	
	// Latest blog posts
	section.section.section-sm.section-last.bg-default#news
		.container
			h2 Latest blog posts
			.row.row-60.row-sm
				include ../sections/_section-grid-blog
	='\n'
	
	// Contact information
	section.section.section-sm.bg-default
		include ../sections/_contact-information
	='\n'
	
	// Contact Form
	section.section.section-sm.bg-default.text-left#contacts
		.container
			article.title-classic
				div.title-classic-title: h3 Get in touch
				div.title-classic-text: p If you have any questions, just fill in the contact form, and we will answer you shortly.
			
			include ../sections/_contact-form-2
	='\n'
	
	// RD Google Map
	section.section.section-fluid
		include ../sections/_section-gmap
	='\n'
	
	// Page Footer
	include ../sections/_footer-minimal
	='\n'
	
	#modalCta.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
		.modal-dialog(role="document")
			.modal-content
				
				.modal-header
					h4 Contact Us
					
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") ×
				
				.modal-body
					//- Contact forms
					form.rd-form.rd-form-variant-2.rd-mailform(data-form-output='form-output-global', data-form-type='contact-modal', method='post', action='bat/rd-mailform.php')
						.row.row-14.gutters-14
							.col-12
								.form-wrap
									input#contact-modal-name.form-input(type='text' name='name' data-constraints='@Required')
									label.form-label(for='contact-modal-name') Your Name
							.col-12
								.form-wrap
									input#contact-modal-email.form-input(type='email' name='email' data-constraints='@Email @Required')
									label.form-label(for='contact-modal-email') E-mail
							.col-12
								.form-wrap
									input#contact-modal-phone.form-input(type='text' name='phone' data-constraints='@Numeric')
									label.form-label(for='contact-modal-phone') Phone
							.col-12
								.form-wrap
									label.form-label(for='contact-modal-message') Message
									textarea#contact-modal-message.form-input.textarea-lg(name='message' data-constraints='@Required')
									
						button.button.button-primary.button-pipaluk(type='submit') Send Message

site/index.html
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Pigknows</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:400,500,600%7CTeko:300,400,500%7CMaven+Pro:500">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css" id="main-styles-link">
    <link rel="stylesheet" href="css/intlTelInput.css">
    <link rel="stylesheet" href="css/ficode.css">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGqxhhAp_YEQsk8kZqqdOjVEfqpshAie8" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
    <script type="text/javascript">
        (function(){
           emailjs.init("user_J9fQgEcdnlQu3PnPsuGNZ");
        })();
    </script>
    <!-- Start of  Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=4058d301-eeaf-413a-9710-946dd3395ae9"> </script>
    <script type="text/javascript">
      window.zESettings = {
        webWidget: {
          position: { horizontal: 'left', vertical: 'bottom' },
          color: { theme: '#e32526' }
        }
      };
    </script>
    <!-- End of  Zendesk Widget script -->

  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container"><span></span><span></span><span></span><span></span>
        </div>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header" id="home">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main" style="padding-right: 5px;">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="index.html"><img src="images/logo-pigknows-191x52.png" alt="" width="191" height="52"/></a></div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Share-->
                    <!-- <div class="rd-navbar-share">
                      <span class="rd-navbar-static rd-nav-link">Iniciar Sesión</span>
                      <span class="rd-navbar-share-icon fl-bigmug-line-share27" data-rd-navbar-toggle=".rd-navbar-share-list"></span>
                      <ul class="list-inline rd-navbar-share-list">
                        <li class="rd-navbar-share-list-item"><a class="icon fa fa-facebook" href="#"></a></li>
                        <li class="rd-navbar-share-list-item"><a class="icon fa fa-twitter" href="#"></a></li>
                        <li class="rd-navbar-share-list-item"><a class="icon fa fa-google-plus" href="#"></a></li>
                        <li class="rd-navbar-share-list-item"><a class="icon fa fa-instagram" href="#"></a></li>
                      </ul>
                    </div> -->
                    <ul class="rd-navbar-nav" style="margin-right: 0px;">
                      <li class="rd-nav-item"><a href="#home" class="rd-nav-link">Inicio</a></li>
                      <li class="rd-nav-item"><a href="#soluciones" class="rd-nav-link">Soluciones</a>
                        <ul>
                          <li><a href="pigknows.html" class="rd-nav-link"><div><span class="icon fa fa-circle"></span> PigKnows</div></a></li>
                          <li><a href="abi.html" class="rd-nav-link"><div><span class="icon fa fa-circle"></span> ABI</div></a></li>
                          <li><a href="pkapp.html" class="rd-nav-link"><div><span class="icon fa fa-circle"></span> App Movil</div></a></li>
                          <li><a href="csd.html" class="rd-nav-link"><div><span class="icon fa fa-circle"></span> CSD</div></a></li>
                        </ul>
                      </li>
                      <!-- <li class="rd-nav-item"><a class="rd-nav-link" href="#projects">Divisiones</a></li> -->
                      <li class="rd-nav-item"><a class="rd-nav-link" href="quienes-somos.html">Quienes somos</a></li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contacto.html">Contacto</a></li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#">Iniciar Sesión</a>
                        <ul>
                          <li><a href="https://app.pigknows.com/login" class="rd-nav-link"><div><span class="icon fa fa-circle"></span> PigKnows</div></a></li>
                          <li><a href="https://abi.pigknows.com/Abi/abi/login_v_1_0.html" class="rd-nav-link"><div><span class="icon fa fa-circle"></span> ABI</div></a></li>
                        </ul>                        
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <!-- Swiper-->
      <!-- data-autoplay="4859" -->
      <section class="section">
        <div class="video-responsive">
          <video src="video/video-front.mp4" autoplay muted loop></video>
        </div>
          <!-- <div class="swiper-slide" data-slide-bg="images/slider-1-slide-2-1770x742.jpg">
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <h1 data-caption-animate="fadeInLeft" data-caption-delay="0">Pigknows</h1>
                <p class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100">Software líder en la gestión de información productiva porcina.</p><a class="button button-primary button-ujarak" href="#modalCta" data-toggle="modal" data-caption-animate="fadeInUp" data-caption-delay="200">Más información</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-slide-bg="images/slider-1-slide-4-1770x742.jpg">
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <h1 data-caption-animate="fadeInLeft" data-caption-delay="0">ABI</h1>
                <p class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100">Con el aporte de 10 consultores a nivel mundial se creó un Panel de control para la toma de decisiones vía gráfica con información estadística e histórica, sin la necesidad de utilizar el teclado.</p><a class="button button-primary button-ujarak" href="#modalCta" data-toggle="modal" data-caption-animate="fadeInUp" data-caption-delay="200">Más Información</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-slide-bg="images/slider-1-slide-6-1770x742.jpg">
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <h1 data-caption-animate="fadeInLeft" data-caption-delay="0">CSD</h1>
                <p class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100">Buró de captura de datos, ingresa datos al día y entregan reportes e informes que necesites</p><a class="button button-primary button-ujarak" href="#modalCta" data-toggle="modal" data-caption-animate="fadeInUp" data-caption-delay="200">Más información</a>
              </div>
            </div>
          </div> -->
        <!-- Swiper Pagination-->
        <!-- <div class="swiper-pagination__module">
          <div class="swiper-pagination__fraction"><span class="swiper-pagination__fraction-index">00</span><span class="swiper-pagination__fraction-divider">/</span><span class="swiper-pagination__fraction-count">00</span></div>
          <div class="swiper-pagination__divider"></div>
          <div class="swiper-pagination"></div>
        </div> -->
      </section>

      <!-- Cta-->
      <!-- <section class="section section-fluid bg-default">
        <div class="parallax-container" data-parallax-img="images/parallax-1.jpg">
          <div class="parallax-content section-xl context-dark">
            <div class="container">
              <div class="row row-30 justify-content-end text-right">
                <div class="col-sm-7">
                  <h3 class="wow fadeInLeft">Let's Develop Your Next Great App!</h3>
                  <p>Do you need a unique software solution for your company? We know how to help you!</p>
                  <div class="group-sm group-middle group justify-content-end"><a class="button button-primary button-ujarak" href="#modalCta" data-toggle="modal">Get in Touch</a><a class="button button-white-outline button-ujarak" href="#">Learn More</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->

      <!-- Latest Projects-->

      <!-- Years of experience-->
      <section class="section section-sm bg-default">
        <div class="container">
          <div class="row row-30 row-xl-24 justify-content-center align-items-center align-items-lg-start text-left">
            <div class="col-md-6 col-lg-5 col-xl-4 text-center"><a class="text-img" href="#">
                <div id="particles-js"></div><span class="counter">20</span></a></div>
            <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
              <div class="text-width-extra-small offset-top-lg-24 wow fadeInUp">
                <h3 class="title-decoration-lines-left">Años de experiencia</h3>
                <p class="text-gray-500">Los atendemos desde nuestras divisiones en EEUU, latinoamérica y asia.</p><a class="button button-secondary button-pipaluk" href="#" id="btn-youtube-1" data-toggle="modal" data-target="#modal-youtube-1">Conoce más</a>
              </div>
            </div>
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 wow fadeInRight" data-wow-delay=".1s">
              <div class="row justify-content-center border-2-column offset-top-xl-26">
                <div class="col-9 col-sm-6">
                  <div class="counter-amy">
                    <div class="counter-amy-number"><span class="counter-min-size">3.5</span>
                    </div>
                    <h6 class="counter-amy-title">Millones de vientres a nivel mundial</h6>
                  </div>
                </div>
                <div class="col-9 col-sm-6">
                  <div class="counter-amy">
                    <div class="counter-amy-number"><span class="">#1</span>
                    </div>
                    <h6 class="counter-amy-title">en EEUU</h6>
                  </div>
                </div>
                <div class="col-9 col-sm-6">
                  <div class="counter-amy">
                    <div class="counter-amy-number"><span class="counter-min-size">25%</span>
                    </div>
                    <h6 class="counter-amy-title">de presencia en américa latina</h6>
                  </div>
                </div>
                <div class="col-9 col-sm-6">
                  <div class="counter-amy">
                    <div class="counter-amy-number"><span class="counter">11</span>
                    </div>
                    <h6 class="counter-amy-title">idiomas</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Meet The Team-->

      <!-- You dream — we embody-->
      <section id="soluciones" class="section section-sm bg-default text-md-left">
        <div class="container">
          <div class="row row-50 align-items-center justify-content-center justify-content-xl-between">
            <div class="col-lg-6 col-xl-5 wow fadeInLeft">
              <h2>Soluciones</h2>
              <!-- Bootstrap tabs-->
              <div class="tabs-custom tabs-horizontal tabs-line tabs-line-big text-center text-md-left" id="tabs-6">
                <!-- Nav tabs-->
                <ul class="nav nav-tabs">
                  <li class="nav-item" role="presentation"><a class="nav-link nav-link-big active" href="#tabs-6-1" data-toggle="tab">01</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link nav-link-big" href="#tabs-6-2" data-toggle="tab">02</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link nav-link-big" href="#tabs-6-3" data-toggle="tab">03</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link nav-link-big" href="#tabs-6-4" data-toggle="tab">04</a></li>
                </ul>
                <!-- Tab panes-->
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="tabs-6-1">
                    <h5 class="font-weight-normal">PIGKNOWS</h5>
                    <p>Sistema que gestiona el proceso productivo porcino: maternidad, destete, engorda y ventas al detalle.</p>
                    <div class="group-sm group-middle"><a class="button button-secondary button-pipaluk" href="#modalCta" data-toggle="modal">Conoce más</a></div>
                  </div>
                  <div class="tab-pane fade" id="tabs-6-2">
                    <h5 class="font-weight-normal">ABI</h5>
                    <p>Sistema de inteligencia de negocios con gráficos inteligentes para la toma de decisiones.</p>
                    <div class="group-sm group-middle"><a class="button button-secondary button-pipaluk" href="#modalCta" data-toggle="modal">Conoce más</a></div>
                  </div>
                  <div class="tab-pane fade" id="tabs-6-3">
                    <h5 class="font-weight-normal">APP MOVIL</h5>
                    <p>Aplicación móvil para ingresar información de granja desde cualquier dispositivo sin necesidad de conexion a internet.</p>
                    <div class="group-sm group-middle"><a class="button button-secondary button-pipaluk" href="#modalCta" data-toggle="modal">Conoce más</a></div>
                  </div>
                  <div class="tab-pane fade" id="tabs-6-4">
                    <h5 class="font-weight-normal">CSD</h5>
                    <p>Equipo experimentado dedicado a ingresar la información de granja y devolver los reportes e informes que necesite.</p>
                    <div class="group-sm group-middle">
                      <a class="button button-secondary button-pipaluk" href="#modalCta" data-toggle="modal">Conoce más</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="store-badges pt-md-4">
                <span>Ahora descarga desde:</span>
                <ul id="store-badges" class="row m-md-0">
                  <li>
                    <a href='https://apps.apple.com/gt/app/pigknows/id1475561453'>
                      <img alt='Disponible en AppStore' src='images/app-store-badge.png'/>
                    </a>
                  </li>
                  <li>
                    <a href='https://play.google.com/store/apps/details?id=com.pigknows.pigknows&hl=es_MX'>
                      <img alt='Disponible en Google Play' src='images/google-play-badge.png'/>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 text-center wow fadeInUp" data-wow-delay=".1s">
              <div id="pantallas" class="owl-carousel owl-style-1" data-items="2" data-stage-padding="0" data-loop="true" data-margin="0" data-mouse-drag="true" data-autoplay="true">
                <a class="box-device">
                  <img src="images/pantalla-1-pigknows.png" alt="" width="313" height="580"/>
                </a>
                <a class="box-device">
                  <img src="images/pantalla-2-abi.png" alt="" width="313" height="580"/>
                </a>
                <a class="box-device">
                  <img src="images/pantalla-3-app.png" alt="" width="313" height="580"/>
                </a>
                <a class="box-device">
                  <img src="images/pantalla-4-csd.png" alt="" width="313" height="580"/>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- What people Say-->

      <!-- Pricing-->

      <!-- Latest blog posts-->

      <!-- See all services-->
      <section class="section section-sm section-first bg-default text-center" id="services">
        <div class="container">
          <div class="row row-30 justify-content-center">
            <div class="col-md-7 col-lg-5 col-xl-6 text-lg-left wow fadeInUp"><img src="images/pigknows-1-415x592.png" alt="" width="415" height="592"/>
            </div>
            <div class="col-lg-7 col-xl-6">
              <div class="row row-30">
                <div class="col-sm-6 wow fadeInRight">
                  <article class="box-icon-modern box-icon-modern-custom">
                    <div>
                      <h3 id="post-venta" class="box-icon-modern-big-title">Número de usuarios<br>ilimitado<br><br>Sin costo adicionales</h3>
                      <div class="box-icon-modern-decor"></div><a class="button button-primary button-ujarak" href="#">Ver más</a>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".1s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon linearicons-phone-in-out"></div>
                    <h5 class="box-icon-modern-title"><a href="#">CAPACITACIÓN</a></h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text">Capacitación en captura y consulta de reportes</p>
                  </article>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".2s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon linearicons-headset"></div>
                    <h5 class="box-icon-modern-title"><a href="#">ATENCIÓN<br>360</a></h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text">Videos youtube, sykpe, teléfono, correo (no es solo una licencia).</p>
                  </article>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".3s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon linearicons-outbox"></div>
                    <h5 class="box-icon-modern-title"><a href="#">TECNOLOGÍA<br>AVANZADA</a></h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text">Convertimos en <strong>menos de 24 hrs</strong> la información de su sistema a Pigknows.</p>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Contact information-->
      <section class="section section-sm bg-default">
        <div class="container">
          <div class="row row-30 justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-4">
              <article class="box-contacts">
                <div class="box-contacts-body">
                  <div class="box-contacts-icon fl-bigmug-line-cellphone55"></div>
                  <div class="box-contacts-decor"></div>
                  <p class="box-contacts-link"><a href="tel:#">+52 55 12 04 12 55</a></p>
                </div>
              </article>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
              <article class="box-contacts">
                <div class="box-contacts-body">
                  <div class="box-contacts-icon fa-skype"></div>
                  <div class="box-contacts-decor"></div>
                  <p class="box-contacts-link"><a href="#">servicioalcliente.pigknows</a></p>
                </div>
              </article>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
              <article class="box-contacts">
                <div class="box-contacts-body">
                  <div class="box-contacts-icon fl-bigmug-line-chat55"></div>
                  <div class="box-contacts-decor"></div>
                  <p class="box-contacts-link" style="margin-left:-35px;"><a href="mailto:#">servicioalcliente@pigknows.com</a></p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <!-- Contact Form-->
      <section class="section section-sm bg-default text-left" id="contacts">
        <div class="container">
          <article class="title-classic">
            <div class="title-classic-title">
              <h3>Contáctanos</h3>
            </div>
            <div class="title-classic-text">
              <p>Si tienes alguna pregunta por favor contactanos y te contestaremos pronto.</p>
            </div>
          </article>
          <form id="contact-form" class="rd-form rd-form-variant-2 rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post"">
            <div class="row row-14 gutters-14">
              <div class="col-md-4">
                <div class="form-wrap">
                  <input class="form-input" id="contact-form-name" type="text" name="name" data-constraints="@Required">
                  <label class="form-label" for="contact-form-name">Nombre</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-wrap">
                  <input class="form-input" id="contact-form-email" type="email" name="email" data-constraints="@Email @Required">
                  <label class="form-label" for="contact-form-email">E-mail</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-wrap">
                  <input class="form-input" id="contact-form-phone" type="text" name="phone" data-constraints="@Required">
                  <label class="form-label" for="contact-form-phone">Teléfono</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-wrap">
                  <label class="form-label" for="contact-form-message">Mensaje</label>
                  <textarea class="form-input textarea-lg" id="contact-form-message" name="message" data-constraints="@Required"></textarea>
                </div>
              </div>
            </div>
            <button class="button button-primary button-pipaluk" type="submit">Enviar</button>
          </form>
        </div>
      </section>

      <!-- RD Google Map-->

        <!-- Google Map-->

      <!-- Page Footer-->
      <footer class="section section-fluid footer-minimal">
        <div class="container-fluid bg-red-1">
          <div class="footer-minimal-inset oh">
            <ul class="footer-list-category-2">
              <li><a href="#home">Inicio</a></li>
              <li><a href="#soluciones">Soluciones</a>
                <ul id="footer-submenu-1">
                  <li><a href="pigknows.html">Pigknows</a></li>
                  <li><a href="abi.html">ABI</a></li>
                  <li><a href="pkapp.html">App Movil</a></li>
                  <li><a href="csd.html">CSD</a></li>
                </ul>
              </li>
              <!-- <li><a href="#projects">Divisiones</a></li> -->
              <li><a href="#team">Quienes somos</a></li>
              <li><a href="#contacts">Contacto</a></li>
              <li><a href="">Iniciar Sesión</a>
                <ul id="footer-submenu-2">
                  <li><a href="https://app.pigknows.com/login"">Pigknows</a></li>
                  <li><a href="https://abi.pigknows.com/Abi/abi/login_v_1_0.html">ABI</a></li>
                </ul>                        
              </li>
            </ul>
          </div>
          <div class="footer-minimal-bottom-panel text-sm-left">
            <div class="row row-10 align-items-md-center">
              <div class="col-sm-6 col-md-4 text-sm-right text-md-center">
                <div>
                  <ul class="list-inline list-inline-sm footer-social-list-2">
                    <li><a class="icon fa fa-twitter" href="#"></a></li>
                    <li><a class="icon fa fa-youtube" href="#"></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 order-sm-first">
                <!-- Rights-->
                <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span> <span>Pigknows</span>
                </p>
              </div>
              <div class="col-sm-6 col-md-4 text-md-right">Todos los derechos reservados.</div>
            </div>
          </div>
        </div>
      </footer>

    <!-- Modals -->
      <div id="modal-youtube-1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="YouTube" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5xMrbsQHU-w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modalCta" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4>Contáctanos</h4>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <form id="contact-modal" class="rd-form rd-form-variant-2 rd-mailform" data-form-output="form-output-global" data-form-type="contact-modal" method="post">
                <div class="row row-14 gutters-14">
                  <div class="col-12">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-modal-name" type="text" name="name" data-constraints="@Required">
                      <label class="form-label" for="contact-modal-name">Nombre</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-modal-email" type="email" name="email" data-constraints="@Email @Required">
                      <label class="form-label" for="contact-modal-email">E-mail</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-modal-phone" type="text" name="phone" data-constraints="@Required">
                      <label class="form-label" for="contact-modal-phone">Teléfono</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-wrap">
                      <label class="form-label" for="contact-modal-message">Mensaje</label>
                      <textarea class="form-input textarea-lg" id="contact-modal-message" name="message" data-constraints="@Required"></textarea>
                    </div>
                  </div>
                </div>
                <button class="button button-primary button-pipaluk" type="submit">Enviar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/ficode.js"></script>
    <!-- coded by kraken-->
  </body>
</html>
